.email-list-info {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #eeeeee;
    padding-top: 10px;
}

#email-list {
    margin: 0 auto;
}

.email-list-info > span {
    display: flex;
    flex-direction: row;
}

#email-body > p {
    color: #414040;
    font-size: 14px;
    margin: 8px;
}

.email-list-tags {
    margin-left: 10px;
}

.email-subject {
    color: #707070;
}

.icon {
    color: #d44638;
    padding-left: 10px;
}

.svg-inline--fa.fa-w-14 {
    width: initial;
}

@media (min-width: 700px) {
    .email-list-info {
        font-size: 14px;
        padding: 3px;
        padding-top: 10px;
    }

    .email-list-info > div > p {
        font-size: 18px;
    }
}

@media (min-width: 900px) {
    .email-list-info {
        padding-left: 90px;
        font-size: 12px;
        flex-direction: row;
    }

    .email-subject {
        width: 350px;
        margin: 0 50px;
    }

    .email-list-info > * {
        padding-left: 20px;
    }

    #email-body > p {
        font-size: 18px;
        margin: 20px 55px;
    }

    .icon {
        padding-left: 120px;
    }
}
